

.bajaopacidad{
    position: absolute;
    width: 750px;
    height: 400px;
    left: 300px;
    top: 150px;
    background: rgba(196, 196, 196, 0.66);
    border-radius: 30px;
    display: none;

}

.activaopacidad{
    display: flex;
}


.borde{
    box-sizing: border-box;

position: absolute;
width: 400px;
height: 200px;
right: 450px;
top: 100px;
border-radius: 360px 360px 0px 0px;
border: 7px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transform: rotate(90deg);
}

.circulodegrade{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 100px;
right: 590px;
top: 150px;
border-radius: 360px 360px 0px 0px;
background: linear-gradient(180deg, #071F3F 0%, #4FAED6 100%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transform: rotate(90deg);

}
/*------------------------------------------------------*/


.escritorio{
 position: absolute;
width: 219px;
height: 63px;
left: 100px;
top: 35px;

background: #2FC0D7;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}

.escritorio h1{
    position: absolute;
left: 20%;
right: 50%;
top: 20%;
bottom: 69.72%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-transform: capitalize;

color: #FFFFFF;
}
.escritorio h1:hover {
    opacity: 50%;
    animation-duration: 1s;
}

/*--------------------------------------------------------*/

.descargas{
    position: absolute;
   width: 219px;
   height: 63px;
   left: 100px;
   top: 160px;
   
   background: #2FC0D7;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 50px;
   }
   
   .descargas h1{
       position: absolute;
   left: 20%;
   right: 50%;
   top: 20%;
   bottom: 69.72%;
   
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   /* identical to box height */
   
   text-transform: capitalize;
   
   color: #FFFFFF;
   }
   .descargas h1:hover {
    opacity: 50%;
    animation-duration: 1s;
}

/*----------------------------------------*/

.interno{
    position: absolute;
   width: 219px;
   height: 63px;
   left: 100px;
   top: 280px;
   
   background: #2FC0D7;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 50px;
   }
   
   .interno h1{
       position: absolute;
   left: 20%;
   right: 50%;
   top: 20%;
   bottom: 69.72%;
   
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   /* identical to box height */
   
   text-transform: capitalize;
   
   color: #FFFFFF;
   }
   .interno h1:hover {
    opacity: 50%;
    animation-duration: 1s;
}


/*----------------------------------------------*/

.izquierda{
position: absolute;
width: 150px;
height: 227px;
left: 400px;
top: 10px;
background: linear-gradient(180deg, #153B5D 0%, #2457C5 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.izquierda img{
position: absolute;
width: 80px;
height: 80px;
left: 30px;
top: 70px;

}
.izquierda img:hover {
    opacity: 50%;
    animation-duration: 1s;
}
/*------------------------------------------------*/

.derecha{
    position: absolute;
width: 150px;
height: 227px;
left: 560px;
top: 30px;
background: linear-gradient(180deg, #153B5D 0%, #2457C5 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.derecha img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30px;
    top: 70px;
}    
.derecha img:hover {
    opacity: 50%;
    animation-duration: 1s;
}

/*-------------------------------------*/

.abajo{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 400px;
    top: 250px;
    background: linear-gradient(180deg, #153B5D 0%, #2457C5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 0px;
}

.abajo img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30px;
    top: 30px;

}
.abajo img:hover {
    opacity: 50%;
    animation-duration: 1s;
}


/*---------------------------------------------*/
.abajo2{
    position: absolute;
    width: 150px;
    height: 130px;
    left: 560px;
    top: 270px;
    background: linear-gradient(180deg, #153B5D 0%, #2457C5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 0px;
}

.abajo2 img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30px;
    top: 30px;

}
.abajo2 img:hover {
    opacity: 50%;
    animation-duration: 1s;
}

/*-----------------------------------------------*/

.apagado{
    position: absolute;
width: 10px;
height: 10px;
left: 150px;
top: 370px;

}
.apagado img:hover {
    opacity: 50%;
    animation-duration: 1s;
}

.reiniciar{
    position: absolute;
width: 10px;
height: 10px;
left: 200px;
top: 370px;

}
.reiniciar img:hover {
    opacity: 50%;
    animation-duration: 1s;
}