.fondo {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.fondo img {
    width: 100%;
    height: 100vh;
}


header {
    background-color: var(--color2);
    width: 100%;
    height: 4rem;

}

header img {
    align-items: flex-end;
    margin-bottom: 0.01rem;
    margin-left: 140rem;
    width: 4rem;
    height: 4rem;
}

.barra {
    background-color: var(--color3);
    opacity: 60%;
    width: 65rem;
    height: 5rem;
    border-radius: 1rem;
    margin-left: 40rem;
    position: absolute;
    margin-bottom: 80rem;
    display: flex;
    justify-content: space-between;
    margin-top: 60rem;

}

.caja padre {

    position: relative;
}

.icon {
    opacity: 100%;
    display: flex;
    width: 4rem;
    height: 4rem;
    margin-left: 2em;
    margin-right: 3.5rem;
    margin-top: 0.5rem;
    justify-content: space-around;
    display: flex;


}

.menu {
    background-color: #000000;
    
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    margin-top: 0.01rem;



}

.menu img {
    width: 5rem;
    height: 5rem;
}